html, body {
    padding: 0;
    margin: 0;
  }
    
  /*#text {
    position: fixed;
    font-size: 6rem;
    color: white;
    font-weight: bold;
    z-index: 1;
    margin: 5rem;
  }*/
  
  .ue-sidebar-container::-webkit-scrollbar {
    display:none;
  }
